name: Tweet latest render

on:
  push:
    branches: [ main ]

  workflow_dispatch:

jobs:
  tweet:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.9
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r $GITHUB_WORKSPACE/scripts/requirements.txt
      - name: Run script to render JPG and tweet it
        env:
          TWITTER_CONSUMER_KEY: ${{ secrets.TWITTER_CONSUMER_KEY }}
          TWITTER_CONSUMER_SECRET: ${{ secrets.TWITTER_CONSUMER_SECRET }}
          TWITTER_ACCESS_TOKEN: ${{ secrets.TWITTER_ACCESS_TOKEN }}
          TWITTER_ACCESS_TOKEN_SECRET: ${{ secrets.TWITTER_ACCESS_TOKEN_SECRET }}
        run: |
          commit_message=$(echo "${{ github.event.head_commit.message }}" | head -1)
          python $GITHUB_WORKSPACE/scripts/tweet_image.py \
            "${TWITTER_CONSUMER_KEY}" \
            "${TWITTER_CONSUMER_SECRET}" \
            "${TWITTER_ACCESS_TOKEN}" \
            "${TWITTER_ACCESS_TOKEN_SECRET}" \
            "$GITHUB_WORKSPACE/foo.ppm" \
            "${commit_message} https://github.com/Wookai/raytracer/commit/${{ github.event.head_commit.id }} #raytracinginoneweekend #rust #raytracing #learningproject"
